@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Courgette');

body {
  /*background: linear-gradient(#44DBFF, #52FFAD);*/
  background: #44DBFF;
  color: blue;
  font-family: 'Courgette', cursive;
  font-size: 14px;
}

h1 {
  font-style: italic;
  text-transform: lowercase;
  font-size: 24px;
}

p {
  font-weight: bold;
  font-size: 16px;
}

li {
  font-family: 'Alegreya Sans', sans-serif;
}

input {
  background: #52FFAD;
  border: 1px solid blue;
  color: blue;
  width: 50px;
  text-align: center;
}

div {
  margin: 10px;
}

header {
  text-align: center;
  margin: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
}

main {
  margin: 10px;
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 30px;
}

footer {
  margin: 10px;
  position: absolute;
  height: 0px;
  left: 0px;
  right: 0px;
  bottom: 20px;
}
section {
  position: inherit;
  float: left;
  left: 0px;
  right: 50%;
}

aside {
  position: inherit;
  float: right;
  left: 50%;
  right: 0px;
}

#work, #break {
  margin-left: 15%;
}

#timerDiv {
  margin-top: 30px;
  margin-left: 7%;
  text-align: center;
  border: solid 2px blue;
  border-radius: 50%;
  height: 250px;
  width: 200px;
}

#timer {
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 40px;
}

#startPause,
#reset, .button {
  border: 1px solid blue;
  border-radius: 40%;
  background: #52FFAD;
  font-weight: bold;
  color: blue;
}

#startPause,
#reset {
  height: 2em;
} 

.button {
  width: 25px;
}

a:visited {
  color: darkred;
}